/* Fonts are in the HTML */
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&display=swap");
/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 
*/

@import url("scroll-to-top.css");
@import url("custom-fonts.css");
@import url("canela.css");

/*
X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.



██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

:root {
  --primary-text-color: #0a100f;
  --white-text-color: #fffffa;
  --accent-color: #ffd34e;
  --active-design-page: #004c40;
  --active-photography-page: #0d2059;
  --active-work-page: #ffd34e;
  --active-about-page: #ffd34e;
  --links-design-page: #70a97e;
  --links-photography-page: #798fd2;
  --links-work-page: #ffd34e;
  --links-about-page: #ffd34e;
  --background-design-page: linear-gradient(
    to right bottom,
    #fff9e5,
    #f6f5e2,
    #edf2df,
    #e4eedd,
    #dceadb
  );
  --background-photography-page: linear-gradient(
    to right bottom,
    #fffffa,
    #f3f9f4,
    #e6f4f3,
    #deecf3,
    #dee3f0
  );
  --overlay-color: #004c40;
  --hyperlink-color: #ffd34e;
  --hyperlink-hover-color: #ffd34e;
  --hover-color: #fffffa;
  --body-typeface: "Khula", sans-serif;
  --project-title-typeface: "Khula", sans-serif;
  --heading-typeface: "canela_text_trialmedium";
  --hero-headline-color: #fffffa;
  --project-title-color: #004d40;
  --project-description-color: #0a100f;
  --background-color: #fffffa;
  --text-selection-background-color: #f26c0d;
  --cymbeline-text: #ae9167;
  --burn-bc-text: #592116;
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ::selection {
  background: var(--links-design-page);
} */

/* Making all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2rem;
  font-family: var(--heading-typeface);
  color: var(--hero-headline-color);
}

.project-title {
  font-size: 3rem;
  font-family: var(--project-title-typeface);
  margin-bottom: 1rem;
  color: var(--project-title-color);
}

.overlay-title {
  font-size: 2.875rem;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--hero-headline-color);
}

h3 {
  font-size: 1.325rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--hero-headline-color);
}

h4 {
  color: var(--hero-headline-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--hyperlink-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

/* if you're using tabs to navigate */
a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.back-to-top-link {
  text-transform: uppercase;
}

/* Custom navigation colour styles */

span.active-design-page {
  color: var(--active-design-page);
  font-weight: bold;
}
span.active-photography-page {
  color: var(--active-photography-page);
  font-weight: 900;
}
span.active-work-page {
  color: var(--active-work-page);
  font-weight: 900;
}
span.active-about-page {
  color: var(--active-about-page);
  font-weight: 900;
}
a.links-design-page {
  color: var(--links-design-page);
}
a.links-photography-page {
  color: var(--links-photography-page);
}
a.links-work-page {
  color: var(--links-work-page);
}
a.links-about-page {
  color: var(--links-about-page);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}
.light-paragraph {
  color: var(--white-text-color);
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 150%;
  font-size: 14pt;
}

.project-description {
  font-size: 1.375rem;
  font-weight: 500;
  margin: auto;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 1rem;
  width: 80ch;
}
.project-information-heading {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-text-color);
}
.project-information {
  font-size: 1rem;
  font-weight: 500;
  /* margin: auto; */
  position: relative;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: var(--project-description-color);
}
/* Global Padding on every page */

.work-page {
  background-image: linear-gradient(
    to right bottom,
    #004c40,
    #206250,
    #3a795f,
    #54916f,
    #70a97e
  );
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container {
  /* Center the text in the viewport. */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
  filter: url(#threshold) blur(0.6px);
}

.hero-headline,
#text1,
#text2 {
  color: #fffffa;
  text-transform: uppercase;
  font-family: var(--body-typeface);
  font-weight: 600;
  font-size: 2;
}

.hero-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0.675rem;
}

/* Your average text styling */
#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  text-align: left;
}

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}
.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  align-items: center;
}
.header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
  align-items: center;
}

.navigation-item {
  margin-left: 1rem;
}
.logo {
  width: 3rem;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.hero-headline-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* This part isn't required */

.projects {
  background: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
  padding-left: 2em;
  padding-right: 2em;
}

/* Padding around work grid and project page */
.design-projects,
.project-wrapper {
  padding: 0.25rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  /* Required to contain overlay size */
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: var(--overlay-color);
  transition: opacity 0.3s, visibility 0.3s;
}

/* CodePen Card Demo Style */

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 4rem 1rem;
  width: 80%;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: var(--background-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    min-height: 500px; /* change back to height not min-height if glitches appear */
    background-position: center center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
  background-position: center center;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card-burn-bc:before {
  background-image: url(../assets/projects/burn-bc/imogen-pettyfer-visuals-burn-bc-cover-heading-social-cause-campaign-advertising-parks-wildfire-fire-prevention-design-project.jpg);
}
.card-after-hours:before {
  background-image: url(../assets/projects/traid/imogen-pettyfer-visuals-traid-apparel-cover-heading-vintage-clothing-uk-london-design-project.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.card-title {
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.card-tagline {
  font-size: 1.25rem;
  line-height: 1.35;
  font-weight: 100;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #fffffa;
  background-color: #70a97e;
  border: none;
}
.btn:hover {
  background-color: #ffd34e;
}
.btn:focus {
  outline: 1px dashed #ffd34e;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-button-wrapper {
  width: 100%;
  padding: 10em 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.big-button-link {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--accent-color);
  text-transform: uppercase;
  border-bottom: 3.5px solid var(--accent-color);
  margin: 10px;
}

a.project-navigation-link {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--accent-color);
  text-transform: uppercase;
  border-bottom: 3.5px solid var(--active-design-page);
  margin: 10px;
}

a.project-navigation-link {
  color: var(--active-design-page);
}

a.big-button-link:active,
a.big-button-link:hover {
  color: var(--background-color);
}

a.project-navigation-link:active,
a.project-navigation-link:hover {
  color: var(--links-design-page);
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/
.about-page {
  background-image: linear-gradient(
    to right bottom,
    #004c40,
    #206250,
    #3a795f,
    #54916f,
    #70a97e
  );
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  padding: 1rem;
  flex: 1;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.about-item-3 {
  margin-left: 5em;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.about-item-3,
.socials-list {
  color: var(--accent-color);
}

.about-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

/* Design Page Styles */

.design-page {
  background: var(--background-design-page);
}

.design-page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .design-page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .design-page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.design-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: var(--background-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .design-card {
    min-height: 650px; /* change back to height not min-height if glitches appear */
    background-position: center center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.design-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.design-card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.design-card:nth-child(1):before {
  background-image: url(../assets/hummingbird-sc/lip-scrub_hero.jpg);
}
.design-card:nth-child(2):before {
  background-image: url(../assets/burn-bc/posters-series-hero.jpg);
}
.design-card:nth-child(3):before {
  background-image: url(../assets/cymbeline-gin/front-bottle-mockup.jpg);
}

.design-card:nth-child(4):before {
  background-image: url(../assets/photography/imogen-pettyfer-visual-photographer-photography-abbottsford-airshow-airplane-nikon.jpg);
}
.design-card:nth-child(5):before {
  background-image: url(../assets/photography/imogen-pettyfer-visual-photographer-photography-durham-cathedral-architecture-nikon.jpg);
}
.design-card:nth-child(6):before {
  background-image: url(../assets/photography/imogen-pettyfer-visuals-photographer-photography-farm-autumn-fall-framing-composition-trees-leaves-nikon.jpg);
}
.design-card:nth-child(7):before {
  background-image: url(../assets/hummingbird-sc/lip-scrub_hero.jpg);
}
.design-card:nth-child(8):before {
  background-image: url(../assets/burn-bc/posters-series-hero.jpg);
}
.design-card:nth-child(9):before {
  background-image: url(../assets/cymbeline-gin/front-bottle-mockup.jpg);
}
/* Page Styles */

.background-photography-page {
  background: var(--background-photography-page);
}

@media (hover: hover) and (min-width: 600px) {
  .design-card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .design-card:hover,
  .design-card:focus-within {
    align-items: center;
  }
  .design-card:hover:before,
  .design-card:focus-within:before {
    transform: translateY(-4%);
  }
  .design-card:hover:after,
  .design-card:focus-within:after {
    transform: translateY(-50%);
  }
  .design-card:hover .content,
  .design-card:focus-within .content {
    transform: translateY(0);
  }
  .design-card:hover .content > *:not(.title),
  .design-card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .design-card:focus-within:before,
  .design-card:focus-within:after,
  .design-card:focus-within .content,
  .design-card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer,
.design-global-footer,
.photography-global-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  padding: 1rem;
}

.design-global-footer {
  color: var(--links-design-page);
}

.photography-global-footer {
  color: var(--links-photography-page);
}

.footer-item-1a {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.footer-item-1b {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.footer-item-2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.footer-item-3 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  justify-self: end;
}

.footer-item-4 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  justify-self: center;
}

.footer-item-5 {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.footer-item-4,
.fineprint {
  color: var(--accent-color);
  font-size: 0.875rem;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

/* Project Colours */

.cymbeline-text {
  color: var(--cymbeline-text);
}
.burn-bc-text {
  color: var(--burn-bc-text);
}
.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Sidebar */
.project-aside {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5rem 1.5rem 3rem 1.5rem;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
  padding: 1rem;
}

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #004c40,
    #206250,
    #3a795f,
    #54916f,
    #70a97e
  );
}

.holding-page-inner-container {
  display: grid;
  width: 70%;
  text-align: left;
}

.holding-page-image {
  margin-bottom: 1rem;
  width: 15%;
  height: 15%;
}

.holding-page-title {
  font-size: 5rem;
  color: var(--accent-color);
  padding-top: 2em;
  kerning: 125%;
  text-transform: uppercase;
}

.holding-page-copyright {
  padding-top: 3rem;
}

.holding-page-copyright p {
  font-size: 0.8rem;
  line-height: 0;
  text-transform: lowercase;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

.error-page {
  display: grid;
  place-items: center;
}

.error-page-wrapper {
  background: url(../assets/photography/horizontal/imogen-pettyfer-visual-photographer-photography-port-mann-bridge-fraser-river-nikon.jpg);
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.error-page-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.875;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--primary-text-color);
}

/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/

.experiments-page {
  display: grid;
  place-items: center;
  background: black;
}

.experiments-page-wrapper {
}

.experiments-page-inner-container {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experiments-page-title {
  color: var(--accent-color);
  font-size: 2rem;
}

.experiments-text {
  color: var(--alice-blue);
}

.experiment-1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
}

.experiment-2-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

.sub-navigation-item {
}

a.sub-navigation-link {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 1rem;
}

a.sub-navigation-link:hover {
  background: var(--accent-color);
  color: var(--floral-white);
  padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
  width: 50%;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.image {
  width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
  display: none;
}

.experiment-image-single {
  width: 20rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

#heyday-logo-blue {
  animation: rotation 9s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.photography-page {
  background-image: linear-gradient(
    to right bottom,
    #dee3f0,
    #deecf3,
    #e6f4f3,
    #f3f9f4,
    #fffffa
  );
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  h1 {
    font-size: 4.275rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .hero-headline,
  #text1,
  #text2 {
    font-size: 6rem;
  }
  .logo {
    width: 3rem;
  }

  .hero-headline-inner-wrapper {
    flex-direction: row;
  }
  .hero {
    min-height: 100vh;
  }

  .photography-description {
    width: 115ch;
  }
  .hero-headline-wrapper {
    padding: 0 8rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }

  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a img {
    filter: grayscale(100);
  }

  .work-page-grid-item > a:active img,
  .work-page-grid-item > a:hover img {
    filter: grayscale(0);
  }

  .global-footer,
  .design-global-footer,
  .photography-global-footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    min-height: 50vh;
    padding: 0rem 4rem 4rem 4rem;
  }

  .footer-item-1a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .footer-item-1b {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .footer-item-2 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    align-self: end;
  }
  .footer-item-3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    align-self: end;
  }

  .footer-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: left;
    align-self: end;
  }

  .footer-item-5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
    align-self: end;
  }

  .about {
    padding: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .about-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
  .about-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

  /* Padding around work grid and project page */

  .photography-projects {
    width: 94%;
    margin: auto;
    padding: 10em 0.5rem 0.5rem 0.5rem; /* Top Right Bottom Left */
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .project-image-row {
    width: 100%;
    padding: 1rem 3rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .project-details-row {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .project-details-item-left {
    width: 50%;

    padding-right: 1.5rem;
  }
  .project-details-item-right {
    width: 50%;

    padding-left: 1.5rem;
  }
  .project-header {
    padding: 0;
  }
  .project-image-single {
    width: 100%;
  }
  .project-image-double {
    width: 49.35%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .project-image-triple {
    width: 32.5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .project-image-container {
    flex-direction: row;
  }
}

/* Only add styles below to make very minor adjustments for extra or extra-extra large devices */

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
}
